.select {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.select label {
  font-weight: bold;
  margin-left: 1rem;
}

.select select{
  width: 10.7rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}
